* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f3f3f3;
  color: #1c193c;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 50px;
}

.container h1 {
  text-align: center;
  color: #1a3079;
}

.produtos-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.cards-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}

.card {
  height: 200px;
  padding: 30px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;


  background: #d9daed;
  color: #000d0e;
}

.selecionado {
  border: 3px solid #652e5f;
}

.botao-action {
  border: none;
  padding: 10px 30px;
  border-radius: 2px;
  font-weight: bold;

  background: #652e5f;
  color: #fff;
  transition: opacity 0.2s;

  cursor: pointer;
}

.botao-action:hover {
  opacity: 0.2;
}

.info-container {
  width: 60%;
  padding-top: 28px;
}

.info-container h2 {
  font-size: 28px;
  color: #652e5f;
}

.info-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin-top: 10px;
}

.info-produto p {
  font-size: 18px;
}

.info-produto img {
  width: 60%;
}

.dev-by {
  text-align: right;
}

.dev-by a {
  text-decoration: nome;
  font-weight: bold;
}